/* css file for CWAT */
body {
  background-color: light grey;
}
header {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
}
h1 {
  font-family: 'Arvo', serif;
  font-size: 1.5em;
  font-weight: 400;
}
.colorful {
  color: #ff0066;
}
h2 {
  font-family: 'Rock Salt', arial;
  font-size: 1.1em;
  font-weight: 400;
  padding-left: 50px;
  padding-top: 10px;
}

/* Top nav styling starting here */
nav {
  color: black;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #9B9296;
}
li {
  display: inline-block;
  margin: 0 auto;
  font-family: helvetica;
  padding: 15px;
  font-size: .8em;
}
li a {
  text-decoration: none;
  color: black;
}

/* Work examples with click through options to portfolio */
#main {
  color: black;
  width: 80%;
  margin: 0 auto;
  font-family: helvetica;
  font-size: 1em;
}
/* For the main page */
.works {
  text-align: center;
  margin-top: 75px;
  padding-left: 30px;
}
.paintings {
  display: inline-block;
}
.photos {
  display: inline-block;
}
.paintings img {
  width: 80%;
  margin-bottom: 10px;
}
.photos img {
  width: 56%;
  margin-bottom: 10px;
}
/* For the contact page */
.main {
  color: black;
  width: 80%;
  margin: 0 auto;
  font-family: helvetica;
  font-size: 1em;
  margin-top: 50px;
}
.contact {
  float: left;
  padding-left: 15%;
  line-height: 1.5em;
  padding-top: 10%;
}
.contact span {
  display: block;
  text-align: right;
}
.contact a {
  text-decoration: none;
  color: black;
}
.image {
  float: right;
  padding-right: 15%;
}

footer {
  color: black;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  position: fixed;
  bottom: 50px;
  padding-top: 20px;
  border-top: 1px solid #9B9296;
}
.social-media {
  display: inline-block;
}
.social-media img {
  padding: 5px;
}