
@font-face {
  font-family: 'choplin';
  src: url('../fonts/choplin-medium-demo.otf');
  src: local('â˜º'), url('../fonts/choplin-medium-demo.otf') format('otf');
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: #666666;
}

header {
  font-size: 50px;
  font-family: 'choplin', serif;
  font-weight: 400;
  color: white;
  padding-top: 200px;
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: #666666;
  transition: all 1.5s ease;
}

header.sticky {
  background-color: yellow;
  float: right;
  font-size: 25px;
  font-weight: 400;
  color: navy;
  padding-top: 10px;
  height: 100px;
  width: 100%;
  position: fixed;
  transition: all 1s ease;
  border-bottom: 1px solid black;
}


#content {
  padding-top: 300px;
}

.character {
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(http://40.media.tumblr.com/d7a014af6eaec53ccdc7a4171033f96d/tumblr_na06t4fnlI1tubinno1_1280.jpg);
}

.mantra {
  font-size: 30px;
  color: white;
  padding: 10%;
  padding-bottom: 20%;
  text-align: center;
}


.about {
  font-size: 25px;
  font-weight: 400;
  color: #666666;
  width: auto;
  background-color: lightgrey;
  padding: 10%;
}
.tx {
  text-align: left;
  padding-bottom: 50px;
}
.nc {
  text-align: center;
  padding-bottom: 50px;
}
.ny {
  text-align: right;
}
/* Animation time - watch the airplane soar... */

.plane img {
  display: none;
}

.fly img {
  display: block;
  position: absolute;
  -ms-transform: rotate(107deg); /* IE 9 */
  -webkit-transform: rotate(107deg); /* Chrome, Safari, Opera */
  transform: rotate(107deg);
  animation-duration: 10s;
  animation-name: flyacross;
}

@keyframes flyacross {
  from {
    margin-left: -30%;
    margin-top: -20%;
  }

  to {
    margin-left: 130%;
    margin-top: 40%;
  }
}
.overview {
  font-size: 25px;
  font-weight: 400;
  color: white;
  width: auto;
  background-color: #666666;
  padding: 10%;
  padding-left: 20%;
  display: block;
}
.education {
  display: inline-block;
  width: 45%;
  float: left;
}
.jobs {
  display: inline-block;
  width: 45%;
}
.skills {
  padding-left: 30%;
  color: white;
}

.hats {
  display: inline-block;
  padding-left: 50px;
}
.skills img {
  height:200px;
  width: 200px;
  border-radius: 125px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 50px;
}