body {
  font-family: 'Lato', sans-serif;
  width: 1180px;
  margin: 0 auto;
  background-color: lightgrey;
}
#wrapper {
  background-color: white;
  padding: 50px;
}
a {
  text-decoration: none;
  color: white;
}
/* so obviously lightgray isn't the most appropriate way to handle this...but I'm leaving it for now */
h1 {
  display: inline;
  padding-right: 20px;
}
h1 a {
  font-size: 52px;
  color: red;
  text-decoration: none;
  font-weight: 300;
  display: inline;
}
h2 {
  font-size: 24px;
  color: grey;
  font-weight: 300;
  display: inline;
  margin-bottom: 15px;
}
h2 a {
  font-size: 36px;
  color: black;
}
h3 {
  font-size: 36px;
  color: lightgray;
  font-weight: 300;
  padding: 0px;
  margin-top: 75px;
  margin-bottom: 25px;
}
h4 {
  font-size: 18px;
  text-align: right;
  font-weight: 700;
}
h4 a {
  color: red;
  font-weight: 700;
}
nav {
  background-color: black;
  font-size: 22px;
  overflow: hidden;
  margin-top: 10px;
}
#container {
  text-align: justify;
}
.nav {
  float: left;
  position: relative;
  margin-left: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
  width: 179px;
  text-align: center;
  border-right: 1px solid white;
} /* replace .nav {} with nav a {} */

.nav2 {
  display: inline-block;
  font-size: 18px;
  padding-right: 5px;
  border-left: 1px solid rgba(0, 0, 0, .3);
  padding-left: 5px;
} /* replace with footer nav a{}  */
footer nav a:first-of-type {
  display: block;
  font-size: 18px;
  padding-right: 2px;
} /* replace with footer nav:first-child {} */

 .firstcharacter { 
  float: left;
  color: lightgray;
  font-weight: 300;
  font-size: 110px; 
  line-height: 60px; 
  padding-top: 14px; 
  padding-right: 8px; 
  padding-bottom: 30px;
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
}
article {
  position: relative;
  line-height: 150%;
  font-size: 18px;
  float: left;
  width: 705px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 50px;
  overflow: hidden;
  font-weight: 300;
}
.mainpage {
  float: left;
  overflow: hidden;
  width: 705px;
  padding-right: 10px;
}
img {
  margin-top: 15px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 20px;
}

/* Sidebar starts here */
#sidebar {
  width: 340px;
  float: right;
  overflow: hidden;
  margin-top: 0px;
  position: relative;
  margin-top: 100px;
  padding-left: 20px;
} 
h4.sidebar {
  text-align: left;
  color: grey;
}
.about {
  color: grey;
  font-size: 18px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 10px;
  font-weight: 300;
}
li {
  color: grey;
}
a.popular{
  color: red;
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
}
p {
  padding-top: 0px;
  margin-top: 10px;
}
/* Sidebar ends here */

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
footer {
  color: lightgray;
  font-size: 18px;
  text-align: left;
  font-weight: 300;
}

footer nav {}
/* add a new background color to over ride the header nav background color */

footer a {
    color: red;
   /* clear: both;*/
}